<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYAM GEPREK</title>
</head>
<body>
    <section>
            <h1>Selamat Datang di Kelompok Tubes AYAM GEPREK</h1>
            <img src="../static/pewd.jpg" alt="gambar">
        </section>
        <form class="" action="{{url_for('data')}}" method="post">
            <input type="file" name="file" value="">
            <input type="submit" name="" value="Submit">
        </form>
</body>
</html>

